
.h1pink30{
    color: rgb(247, 64, 140);
    text-align: center;
    font-size: 30px;
    font-weight: bold;

}

.h2purple19{

    color: purple;
    font-size: 1.5em;
    text-align: center;
    font-weight: bold;


}

.h3yellow{
    color: rgb(160, 96, 13);
    font-weight: bold;
    font-size: 22px;
}

.pcen{
text-align: center;

}